.keyword {
  &.victory-point {
    background: linear-gradient(
      to right,
      #ffb3ba,
      #ffdfba,
      #ffffba,
      #baffc9,
      #bae1ff,
      #d4baff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    svg {
      padding-right: 1px;
      font-size: .9em;
    }
  }
}
