.skritters-page {
  min-height: 100vh;

  .skritters-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));

    .no-results {
      grid-column: 1 / -1;
      text-align: center;
      padding: 3rem;
      font-size: 1.3rem;
    }
  }
}


@media (min-width: 1200px) {
  .skritters-grid {
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
  }
}

/* For smaller screens */
@media (max-width: 768px) {
  .skritters-grid {
    grid-template-columns: 1fr;
  }
}
