.scenarios {
  .roll-table-row {
    display: grid;
    grid-template-columns: 25px 1fr;
  
    .number {
      text-align: right;
      padding-inline: .2em;
    }
  }

  .scenario {
    background-color: color-mix(in srgb, var(--bg-color) 50%, var(--color-mixin) 10%);
    padding: 0.5em 1em;
  }

  a {
    --link-color: light-dark(
      rgb(16, 49, 51),
      rgb(145, 201, 238)
    );
    color: var(--link-color);
  }
}