.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  
  .creature-tag {
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    background-color: var(--primary-light);
    color: var(--primary-color);
    font-size: 0.75rem;
    font-weight: 500;
    white-space: nowrap;
  }
}
