.tag {
  margin-inline: 0.1em;
  border-radius: .25em;
  padding-top: 0.05em;
  padding-bottom: 0.2em;
  padding-inline: 0.2em;
  font-weight: 500;

  --lite-tag-color: oklch(95% 0.067 230);
  --dark-tag-color: oklch(43% 0.067 230);
  background-color: light-dark(
    var(--lite-tag-color),
    var(--dark-tag-color)
  );
  color: light-dark(
    var(--dark-tag-color),
    var(--lite-tag-color)
  );
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  
  .tag {
    padding: 0.2em 0.6em;
    border-radius: 1em;
    font-size: 0.75rem;
    font-weight: 500;
  }

  .creature-tag {
    white-space: nowrap;
  }

  .item-tag {
    font-size: 12px;
  }
}



.item-tag {
  &.plant {
    --light-tag-color: var(--light-plant-clr);
    --dark-tag-color: var(--dark-plant-clr);
  }
  &.metal{
  --light-tag-color: var(--light-metal-clr);
  --dark-tag-color: var(--dark-metal-clr);
  }
  &.gem{
  --light-tag-color: var(--light-gem-clr);
  --dark-tag-color: var(--dark-gem-clr);
  }
  &.flame{
  --light-tag-color: var(--light-flame-clr);
  --dark-tag-color: var(--dark-flame-clr);
  }
  &.poison{
  --light-tag-color: var(--light-poison-clr);
  --dark-tag-color: var(--dark-poison-clr);
  }
  &.water{
  --light-tag-color: var(--light-water-color);
  --dark-tag-color: var(--dark-water-color);
  }
  &.zap{
  --light-tag-color: var(--light-zap-color);
  --dark-tag-color: var(--dark-zap-color);
  }
  &.frost{
  --light-tag-color: var(--light-frost-color);
  --dark-tag-color: var(--dark-frost-color);
  }
  &.gloomy{
  --light-tag-color: var(--light-gloomy-color);
  --dark-tag-color: var(--dark-gloomy-color);
  } 
}
