:root {
  /* Light theme variables */
  --primary-color: #2b6cb0;
  --primary-light: #ebf4ff;
  --text-color: #4a5568;
  --border-color: #e2e8f0;
  --bg-color: #f7fafc;
  --card-bg: #aad6ff;
  --color-mixin: black;
}

/* Dark theme variables */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #579ac9;
    --primary-light: #2a4365;
    --text-color: #e2e8f0;
    --border-color: #4a5568;
    --bg-color: #1a202c;
    --card-bg: #2d3748;
    --color-mixin: white;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

.app {
  min-height: 100vh;
  padding: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.bolded, .bold {
  font-weight: bold !important;
}

.italic, .italics, .italix, .italixed {
  font-style: italic !important;
}

/* .page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure page takes full width */
/*} */

.page-content {
  /*
    I don't fully understand why, but some styling is clashing and getting a nice centered item is a bit clunky.
    
    We need the following:
    margin: 0 auto;
    width: 100%;

    We cannot have the following:
    margin-inline: 2rem;
  */ 
  margin: 0 auto;
  margin-top: calc(2em + 2px);
  /* margin-inline: 2rem; */
  width: 100%;
  padding: 1rem;
  max-width: 1200px;
  min-height: 100vh;
  background-color: color-mix( in srgb, var(--card-bg), var(--bg-color));
}
@media (max-width: 1300px) {
  .page-content {
    /* Once the screen gets small enough, we know we'll be centered so we swap to a
    layout with margin-inline and width auto */
    margin-inline: 2rem;
    width: auto;
  }
}