/* h1 candidates: Lora, Abril Fatface, Josefin Slab */
/* h2 candidates: Fredoka One, Nunito, Pacifico, Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Abril+Fatface&family=Josefin+Slab&family=Fredoka+One&family=Nunito&family=Pacifico&family=Quicksand&display=swap');

:root {
  color-scheme: light dark;
  /* color-scheme: light; */

  /* Light theme variables */
  --primary-color: light-dark(#2b6cb0, #579ac9);
  --primary-light: light-dark(#ebf4ff, #2a4365);
  --text-color: light-dark(
    oklch(35% 0.034 261), 
    oklch(95% 0.033 255)
  );
  --text-muted-color: light-dark(
    oklch(50% 0.044 261), 
    oklch(80% 0.043 255)
  );
  --border-color: light-dark(#3a4450, #4a5568);
  --bg-color: light-dark(#f7fafc, #1a202c);
  --card-bg: light-dark(#aad6ff, #2d3748);
  --color-mixin: light-dark(black, white);

  --light-plant-clr: hsl(139, 73%, 87%);
  --dark-plant-clr: hsl(152, 42%, 23%);

  --light-metal-clr: hsl(202, 81%, 86%);
  --dark-metal-clr: hsl(213, 49%, 34%);
  
  --light-gem-clr: hsl(38, 93%, 77%);
  --dark-gem-clr: hsl(30, 76%, 26%);
  
  --light-flame-clr: hsl(343, 95%, 92%);
  --dark-flame-clr: hsl(0, 56%, 39%);
  
  --light-poison-clr: hsl(58, 97%, 87%);
  --dark-poison-clr: hsl(58, 97%, 27%);
  
  --light-water-color: hsl(195, 85%, 86%);
  --dark-water-color: hsl(200, 75%, 25%);
  
  --light-zap-color: hsl(50, 100%, 80%);
  --dark-zap-color: hsl(230, 80%, 40%);
  
  --light-frost-color: hsl(200, 90%, 90%);
  --dark-frost-color: hsl(215, 70%, 20%);
  
  --light-gloomy-color: hsl(240, 100%, 80%);
  --dark-gloomy-color: hsl(218, 17%, 25%);
  
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

.app {
  min-height: 100vh;
  padding: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1 {
  margin-top: 2rem;
  font-family: 'Josefin Slab', Georgia, serif;       
  font-size: 3em;
  margin-bottom: 0;
}
h2 {
  margin-top: 1.25em;
  margin-inline: -4px;
  background-color: var(--primary-light);
  padding-inline: 0.5em;
  /* rounded and friendly, subtle */
  font-family: 'Nunito', Arial, sans-serif;
  /* handwritten/script-ish feel */
  /* font-family: 'Pacifico', cursive; */
  text-decoration: underline;
}
h3 {
  color: var(--text-muted-color);
}
h4 {
  color: var(--text-color);
}


p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.bolded, .bold {
  font-weight: bold !important;
}

.italic, .italics, .italix, .italixed {
  font-style: italic !important;
}

/* .page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure page takes full width */
/*} */

.page-content {
  /*
    I don't fully understand why, but some styling is clashing and getting a nice centered item is a bit clunky.
    
    We need the following:
    margin: 0 auto;
    width: 100%;

    We cannot have the following:
    margin-inline: 2rem;
  */ 
  margin: 0 auto;
  margin-top: calc(2em + 2px);
  /* margin-inline: 2rem; */
  width: 100%;
  padding: 1rem;
  max-width: 1200px;
  min-height: 100vh;
  background-color: color-mix( in srgb, var(--card-bg), var(--bg-color));
}
@media (max-width: 1300px) {
  .page-content {
    /* Once the screen gets small enough, we know we'll be centered so we swap to a
    layout with margin-inline and width auto */
    margin-inline: 2rem;
    width: auto;
  }
}